<div class="chart-glaf">
    <div class="follow-relation col-12 col-md-10 text-center">
      <h2>気分の波を見てみよう<br><%= @month.month %>月</h2>
      <%= link_to '< prev', graphs_path({date: @month.prev_month.strftime("%Y%m")}) %>
      <%= link_to 'next >', graphs_path({date: @month.next_month.strftime("%Y%m")}) %>
      <canvas id="myChart" width="400" height="200"> </canvas>
      <script> 
         var ctx = document.getElementById("myChart").getContext('2d');
         var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: <%= @chartlabels %>,
            datasets: [{},
            {
                // label: "気分の波",
                data: <%= @chartdatas.tap {||} %>,
                backgroundColor: '#FFDBC9',
                borderColor: "#FF570D",
                pointBackgroundColor: "#FF570D", 
                type: 'line',
                fill: true,
                tension: 0.5,
            }],
          },
          options: {
              label: {
            　    display: false
              },
              scales: {
                y: {
                  display: false
                },
                   x: {
                  display: false
                }
              }
            }
    });

</script>
 </div>
  </div>
<br>
<br>
<h2>自分にとってのしあわせを見つけよう</h2>
<p>しあわせだった事そうじゃなかった事を比較して自分の本当のしあわせを見つけよう</p>
<p>自分にとってしあわせになる為に必要だと思っていた事がそうでなかったりするよ</p>
<br>
<!--ここから評価比較-->
<div class="tab-panel">
  <ul class="tab-group">
    <li class="tab tab-A is-active">○</li>
    <li class="tab tab-B">△</li>
    <li class="tab tab-C">×</li>  
 </ul>
  
  <div class="panel-group">
    <div class="panel tab-A is-show">
      <% @maru.each do |maru| %>
        <% if maru.content.present? %>
          <%= maru.created_at.strftime('%m/%d') %>
          <%= maru.content %>
        <% else %>
        <% end %>
        <br>
      <% end %>
    </div>
    <div class="panel tab-B">
      <% @sankaku.each do |sankaku| %>
        <% if sankaku.content.present? %>
          <%= sankaku.created_at.strftime('%m/%d') %>
          <%= sankaku.content %>
        <% else %>
        <% end %>
        <br>
      <% end %>
    </div>
    <div class="panel tab-C">
      <% @batu.each do |batu| %>
        <% if batu.content.present? %>
          <%= batu.created_at.strftime('%m/%d') %>
          <%= batu.content %>
        <% else %>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'test' %>
