<h3>ID検索</h3>

<%= render 'search_form', url: users_path %>
<% if @search.empty? %>
  <p>検索結果がありませんでした</p>
<% elsif @search.count == User.all.count %>
  <p>ID検索をして友達を探してみましょう</p>
<% else %>
  <% @search.each do |user| %>
    <%= user.name %>
    <%= render partial: 'follow_form', :locals => {:user => user} %>
    <% end %>
  <% end %>


<h3>友達一覧</h3>

<% @user ||= current_user %>
<% if @user.followings.count == 0 %>
 <p>友達が追加されてません ID検索で友達を探してみましょう</p>
<% else %>
  <% @user.followings.each do |user| %>
    <%= user.name %>
    <%= render partial: 'follow_form', :locals => {:user => user} %>
    <%= link_to "日記を見る", followers_path(user) %>
  <% end %>
<% end %>
