<h3>プロフィール</h3>

<p>名前:<%= current_user.name %> </p>
<p>email: <%= current_user.email %></p>
<p>ID: <%= current_user.public_uid %> </p>

<p><%= button_to '編集', edit_user_registration_path, method: :get %></p>
<%= render partial: 'share' %>
