<%= form_with model: @post, local: true do |f| %>
  <div class="form-group">
    <%= f.select :today_mood, Post.today_moods.keys.to_a, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <%= f.button class: 'btn btn-primary' %>
   <td><%= button_to "削除", post_path(@post), method: :delete %></td> 
<% end %>