<!--カレンダー-->
<div class="border-radius"></div>
<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>
  <% posts.each do |p| %>
    <div>
      <%= link_to p.today_mood, p, remote: true %>
    </div>
  <% end %>
<% end %>

<!--モーダルマスク-->
<div id="mask" class="hidden"></div>
  <div id="modal" class="hidden">
  </div>

<!--1日1回出るモーダル-->
<div id="js_modal" class="modal">
  <div class="js_modal_close modal_bg"></div>
  <div class="box_popup">
    <a class="js_modal_close modal_close">
      閉じる
    </a>
    <div class="modal_inner">
      <p>今日のしあわせのひとこと</p>
     <p><%= javascript_pack_tag 'popup_text' %></p>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'popup' %>

<!--日記作成ボタン-->
<button_to  id="topBtn" class="topBtn">
  <%= link_to("Create a diary", new_post_path, remote: true, class: "link") %>
</button>

<script>
jQuery(function() {
  let topBtn = $("#topBtn");
// 画面を開いたら
 $(window).on('load', function() {
// ボタンがしたから出てくる
topBtn.stop().animate({ bottom: "70px" }, 1600);
  });
});
</script>


