<%= form_with model: @post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :今日の幸せを振り返ろう %>
    <%= f.select :today_mood, Post.today_moods.keys.to_a, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :１行で幸せだった事を振り返ろう %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <%= f.submit t('helpers.submit.create'), class: 'btn btn-primary' %>
<% end %>